APP_ID="<your app id>"
APP_SECRET="<your app secret>"
ACCESS_TOKEN="<your access token>"
AD_ACCOUNT_ID="<your ad account id>"
BUSINESS_ID="<your business id>"
SHORT_ACCESS_TOKEN="" # find short access token in graph api tool

# Upload to Google Big Query 
DATASET_ID="<your dataset id in google big query>"
PROJECT_ID="<yourt project id in google big query>"
TABLE_NAME="<yourt table name in google big query>"
GOOGLE_APPLICATION_CREDENTIALS="<yourt credentials in google big query>"